*{
    padding: 0px;
    margin: 0px;
    font-family: Century Gothic;
}

body, html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../IMG/fondo2.png");
    background-size: 200%;
    background-position: center;
}

.home {
    display: flex;
    flex-wrap: wrap;
}

.in-flex {
    flex: 1;
}

.in-flex:first-child {
    flex: 2;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    height: 650px;
}

.in-flex:first-child img {
    max-height: 100%;
    min-width: 100%;
}

.caja {
    align-items: center;
    padding: 25px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(104, 124, 89, 0.5)); /* Verde olivo suave */
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}


.cuadro {
    align-items: center;
    padding: 15px;
    background-color: #ffffff; /* Blanco */
    margin: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.cuadroFondo {
    align-items: center;
    padding: 25px;
    background-size: cover;
    background-position: center;
}

.cuadroFondo .animado span {
    color: #687c59;
}

.sombra {
    border-color: rgba(46, 139, 87, 1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2),
        0px 5px 10px rgba(0, 0, 0, 0.2);
}

.sombraT {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1.2);
}

.sombraSuave {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

audio {
    width: 100%;
}

.imagen-texto {
    position: absolute;
    top: 5%;
    left: 50%;
    color: #687c59; /* Verde elegante */
    font-size: 55px;
    font-weight: bold;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
}

.charm-bold {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-style: normal;
}

.charm-regular {
    font-family: "Charm", cursive;
    font-weight: 400;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.boton-enlace {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #246b45; /* Verde elegante */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.boton-enlace:hover {
    background-color: #246b45; /* Verde más oscuro al pasar el mouse */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 10px;
    padding: 10px;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

label {
    margin: 2%;
}

.select-box {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    background-color: #f4f1e1; /* Fondo blanco suave */
    border: 2px solid #2E8B57; /* Verde elegante */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #2E8B57; /* Texto en verde elegante */
    transition: all 0.3s ease;
}

.select-box:focus {
    border-color: #1d6b41; /* Verde más oscuro */
    box-shadow: 0 0 5px rgba(46, 139, 87, 0.7); /* Resaltado verde */
}

label {
    font-size: 16px;
    font-weight: normal;
    color: #2E8B57; /* Etiquetas en verde elegante */
}

button:hover {
    background-color: #246b45; /* Más oscuro al pasar el ratón */
}

body {
    font-family: 'Dancing Script', cursive;
}
